name: Linting & Integration tests

on:
  pull_request:
   types:
    - opened
    - synchronize
    - reopened

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  helm-testing:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Helm
      uses: azure/setup-helm@v4.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2

    - name: Install additional Helm repos
      run: |
        helm repo add bitnami https://charts.bitnami.com/bitnami
        helm repo add digicatapult https://digicatapult.github.io/helm-charts

    - name: Run chart-testing (list-changed)
      id: list-changed
      run: |
        changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
        if [[ -n "$changed" ]]; then
          echo "changed=true" >> $GITHUB_OUTPUT
        fi

    - name: Run chart-testing (lint)
      run: |
        ct lint \
          --target-branch ${{ github.event.repository.default_branch }}
      if: steps.list-changed.outputs.changed == 'true'

    - name: Create kind cluster
      uses: helm/kind-action@v1
      with:
        node_image: kindest/node:v1.21.10
      if: steps.list-changed.outputs.changed == 'true'

    - name: Run chart-testing (install)
      run: |
        ct install \
        --target-branch ${{ github.event.repository.default_branch }}
      if: steps.list-changed.outputs.changed == 'true'
